//= require_self
//= require_tree .

@import './mixins'

/* X Wing Content Stuff? */

body {
  font-family: "Arial"
  a {
    text-decoration: none
  }
}

.grid-wrapper {
  display: grid
  grid-template-columns: 1fr 3fr
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 1em
}

.grid-header {
  background-color: gray
  font-family: fantasy
  font-size: 1.5em
  grid-column: span2/1
  text-align: center
  a {
    color: white
    text-decoration: none
  }
}

.grid-header-test {
  background-color: purple
  font-family: fantasy
  font-size: 1.5em
  grid-column: span2/1
  text-align: center
  a {
    color: white
    text-decoration: none
  }
}

.grid-left {
  background-color: green
  grid-column: 1
}

.grid-right { 
  background-color: yellow
  grid-column: 2
  table {
    margin: 1em
    float: left
  }
}

.navigation-bar {
  background-color: cyan
}

.grid-footer {
  background-color: blue
  grid-column: span2/1
}

.grid-blog-entry {
  min-height: 273px
  background-color: orange
  grid-template-columns: 1fr 1fr 1fr
}

.grid-score-entry {
  grid-column: 2/1

  table {
    place-self: center
    background-color: gray
    border-spacing: 1em 5px
    border-style: solid
    border-width: 5px
    border-color: red
    border-collapse: collapse
    th {
      padding: 15px
      border: solid
    }
    td {
      padding: 5px
      border: solid
    }
  }
}

header {
  text-align: center
}

.pagination {
  text-align: right
  border: none

  .wrap {
    padding: 20px 40px 25px 30px
  }

  .button {
    border: 2px solid #333333
    font-weight: 600
    color: #333333
    padding: 0 15px
    border-radius: 20px
    display: inline-block
    height: 35px
    line-height: 33px
    text-transform: uppercase
    font-size: 15px
    text-decoration: none
    margin-left: 15px

    .fa {
      margin-left: 2px
    }
  }
}