<h1> Simple Entry Thingy. </h1>

<form action="/entry/create" method="POST">
 <input type="textarea" name="entry[author_name]" />
 <input type="date" name="entry[date_time]">
 <input type="submit" value="Submit" />
</form>