<h1> Simple Entry Thingy. </h1>

<form action="/entry/create" method="POST">
 Author Name:<input type="textarea" name="entry[author_name]"><br>
 Title:<input type="textarea" name="entry[title]"><br>
 Date:<input type="date" name="entry[date_time]"><br>
 Body:<textarea rows="17" cols="42" name="entry[body]"> </textarea><br>
 <input type="submit" value="Submit">
</form>